<section class="u-clearfix u-image u-section-3" id="carousel_88ec">
  <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-29 u-layout-cell-1">
          <div class="u-container-layout u-valign-bottom-xs u-valign-middle-xl u-container-layout-1">
            <h5
              class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-font-pt-sans u-text u-text-1">
              Little More About Us</h5>
            <h1
              class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-font-roboto-condensed u-text u-text-palette-4-base u-text-2">
              Your Kids is Our Future<br>
            </h1>
            <p class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-3">Lorem ipsum
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.</p>
          </div>
        </div>
        <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-31 u-image-1">
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>