<section class="u-clearfix u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-section-4" id="sec-002e">
  <div class="u-clearfix u-expanded-width-xl u-gutter-0 u-layout-wrap u-layout-wrap-1">
    <div class="u-layout"  >
      <div class="u-layout-row"  >
        <div class="u-align-center-xs u-container-style u-image u-layout-cell u-left-cell u-size-34 u-image-1" src=""
          data-image-width="685" data-image-height="494">
          <div class="u-container-layout u-valign-middle-xs u-container-layout-1"></div>
        </div>
        <div class="u-container-style u-layout-cell u-right-cell u-size-26 u-layout-cell-2">
          <div class="u-container-layout u-container-layout-2">
            <div
              class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1">
              <div
                class="u-container-layout u-valign-bottom-lg u-valign-bottom-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                <h1 class="u-align-left-md u-text u-title u-text-1" data-animation-name="bounceIn"
                  data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">About Us</h1>
                <p class="u-align-left-lg u-align-left-md u-text u-text-2">Paragraph. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis
                  elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor
                  commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit
                  amet.</p>
                <a href="/about-us.html" data-page-id="406010"
                  class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">LEARN
                  MORE<span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 490.667 490.667" x="0px"
                      y="0px" style="width: 1em; height: 1em;">
                      <path
                        d="M466.201,237.781L231.534,3.115C229.55,1.131,226.841,0,224.003,0h-192c-4.309,0-8.213,2.603-9.856,6.592 s-0.725,8.555,2.304,11.627l227.136,227.115L24.451,472.448c-3.051,3.051-3.968,7.637-2.304,11.627 c1.664,3.989,5.547,6.592,9.856,6.592h192c2.837,0,5.547-1.131,7.552-3.115l234.667-234.667 C470.382,248.704,470.382,241.963,466.201,237.781z">
                      </path>
                    </svg><img></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About us end -->



