<!-- About us Banner starts here  -->


<div class="jumbotron">
  <div class="row">
      <div class="col-md-6">
        <h1 class="display-4 ">Revive Your Magical Career With</h1>
        <h1 class="display-4 text-dark">Confidence..</h1>
        <p class="lead">
            <b class="lead-p1 text-primary">Build</b> internship-grade tech-projects
    
            
        </p>
      
        <p class="lead">
            <b class="lead-p1 text-primary">Learn</b> Full Stack or Backend development hands-on
        </p>
        <p class="lead">
            <b class="lead-p1 text-primary">Grow</b> your career with real work experience
        </p>
        <p class="lead-btn">
          <a class="btn btn-primary btn-lg" href="#" role="button">
              Explore Us More
            </a>
            <a class="btn btn-outline-dark btn-lg lead-btn2" href="#" role="button">
                Join Us Now
              </a>
        </p>
      </div>
      <div class="col-md-6">
        <img src="./assets/AboutUs/Banner.jpg" alt="Image Here" />
      </div>
    </div>
  
  </div>

  <!-- About Us Banner ends here -->



  <!-- About Us Mission starts here  -->


 <div class="container-fluid mission">
    <div class="row">
      <div class="col">
       <img class="mission-image" src="./assets/AboutUs/ourMission.jpg" alt="Image not found">
      </div>
      <div class="col mission-col-p">
       <h1 class="mission-h1"> Our Mission</h1>
        <h5 class="mission-p1 text-info">
            <b>
            Our mission is to empower developers with high quality applied learning opportunities at scale, and nurture the talent for the future.
            <br />
        </b>
    </h5>
        <p class="mission-p2"> 
            We are building a platform that would fundamentally change the way tech is learnt through our “work-like” Micro-Experiences. Techman Micro-Experiences provide an environment optimised for learning, with real world problems curated from the industry.
            <br>
            Education, in close partnership with parental responsibility, is what moulds our students into responsible and respectable citizens, equipped with the necessary skills to contribute in a meaningful way to the community at large.
        </p>
      </div>
    </div>  
</div>

    <!-- About us Mission ends here  -->


    <!-- About us join us grid starts here  -->

<div class="container-fluid">
    <div class="row grid-2">
        <div class="col-8 joinus-content">
            <h1 class="grid2-h1">Want to Join Us?</h1>
            <p class="grid2-p1">
                Passionate about disrupting Tech Learning ground up? 
                <br />
                Come talk to us...
            </p>
            <h2 class="grid2-p2">
               <a href="#"> techman@indic.co.in</a>
            </h2>
        </div>
        <div class="col-4">
            <img src="./assets/AboutUs/joinus.webp" alt="Image Here">
            
        </div>
      </div>
</div> 

    <!-- About us join us grid ends here  -->