<header class="u-clearfix u-header u-sticky u-white u-header" id="sec-b63e">
  <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="MD"
    data-position="primary-menu">
    <div class="menu-collapse"
      style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700;">
      <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link"
        href="#" style="font-size: calc(1em + 4px);">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302">
          <use xlink:href="#svg-0b31"></use>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-0b31"
          x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve"
          class="u-svg-content">
          <g>
            <rect y="36" width="302" height="30"></rect>
            <rect y="236" width="302" height="30"></rect>
            <rect y="136" width="302" height="30"></rect>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-custom-font u-nav u-spacing-0 u-text-font u-unstyled u-nav-1">
        <li class="u-nav-item"><a
            class="u-active-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
            routerLink='/home' style="padding: 16px 20px;">Home</a>
        </li>
        <li class="u-nav-item"><a
            class="u-active-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
            href="/Home.html#sec-002e" data-page-id="399566" style="padding: 16px 20px;">About</a>
        </li>
        <li class="u-nav-item"><a
            class="u-active-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
            href="/Home.html#carousel_f31d" data-page-id="399566" style="padding: 16px 20px;">Blog</a>
        </li>
        <li class="u-nav-item"><a
            class="u-active-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
            routerLink='/faq' style="padding: 16px 20px;">FAQ</a>
        </li>
        <li class="u-nav-item"><a
            class="u-active-palette-1-base u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
            routerLink='/contact' style="padding: 16px 20px;">Contact</a>
        </li>
      </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
        <div class="u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html"
                style="padding: 16px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Home.html#sec-002e" data-page-id="399566"
                style="padding: 16px 20px;">About</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Home.html#carousel_f31d"
                data-page-id="399566" style="padding: 16px 20px;">Blog</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="FAQ.html"
                style="padding: 16px 20px;">FAQ</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html"
                style="padding: 16px 20px;">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav><a routerLink="/home" data-page-id="399566" class="u-image u-logo u-image-1" data-image-width="80"
    data-image-height="40" title="Home">
    <img src="../../assets/images/techman_logo.jpeg" class="u-logo-image u-logo-image-1" data-image-width="98.077">
  </a>
  <!-- <a routerLink='/login'
      class="u-border-0 u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-text-hover-black u-btn-1"
      data-animation-name="rubberBand" data-animation-duration="1250" data-animation-delay="250"
      data-animation-direction=""><span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512"
          style="width: 1em; height: 1em;">
          <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="256.0001972766" x2="256.0001972766"
            y1="-.0002001252" y2="511.7327426784">
            <stop offset="0" stop-color="#2af598"></stop>
            <stop offset="1" stop-color="#009efd"></stop>
          </linearGradient>
          <path
            d="m403.777344 147.917969c0-81.5625-66.359375-147.917969-147.917969-147.917969-81.5625 0-147.917969 66.355469-147.917969 147.917969 0 50.519531 25.464844 95.199219 64.222656 121.894531-36.1875 12.488281-69.359374 33.117188-97.226562 60.984375-48.324219 48.324219-74.9375 112.578125-74.9375 180.917969h39.976562c0-119.035156 96.84375-215.878906 215.882813-215.878906 81.558594 0 147.917969-66.355469 147.917969-147.917969zm-147.917969 107.941406c-59.519531 0-107.941406-48.421875-107.941406-107.941406s48.421875-107.941407 107.941406-107.941407c59.515625 0 107.9375 48.421876 107.9375 107.941407s-48.421875 107.941406-107.9375 107.941406zm256.140625 111.9375-94.089844 94.089844-28.269531-28.269531 46.832031-46.832032h-34.671875c-47.898437 0-86.902343 38.972656-86.941406 86.871094l-.035156 38.074219-39.976563-.03125.03125-38.078125c.058594-69.925782 56.996094-126.816406 126.921875-126.816406h32.671875l-44.832031-44.832032 28.269531-28.265625zm0 0"
            fill="url(images/1.gif)"></path>
        </svg><img></span>&nbsp;​login
    </a> -->
  <div class="u-align-left u-border-1 u-border-grey-15 u-expanded-width u-line u-line-horizontal u-line-1"></div>
</header>

<!-- Navbar ends -->