.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 129px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  align-self: center;
  margin: 41px auto 0 95px;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  align-self: center;
  margin: -44px auto 0 292px;
  padding: 6px 31px 8px 30px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  align-self: center;
  margin: -48px auto 0;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  align-self: center;
  margin: -44px 299px 0 auto;
  padding: 6px 38px 8px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -47px 95px 42px auto;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-left: auto;
    padding-right: 26px;
    padding-bottom: 7px;
    padding-left: 25px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -45px;
    margin-left: 214px;
  }

  .u-section-1 .u-btn-4 {
    animation-duration: 1000ms;
    margin-top: -45px;
    margin-right: 211px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 29px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-left: 180px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 362px;
  }

  .u-section-1 .u-btn-5 {
    margin: 0 0 0 544px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 18px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 182px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 12px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 176px;
  }
}.u-section-2 {
  background-image: linear-gradient(#77aad9, #2cccc4);
}

.u-section-2 .u-sheet-1 {
  min-height: 344px;
}

.u-section-2 .u-text-1 {
  width: 771px;
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 72px auto 0;
}

.u-section-2 .u-text-2 {
  width: 771px;
  margin: 23px auto 0;
}

.u-section-2 .u-form-1 {
  height: 78px;
  width: 586px;
  margin: 23px auto 0;
}

.u-section-2 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-top: 22px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-form-1 {
    width: 465px;
    margin-left: 127px;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 22px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    height: 148px;
    margin-top: 15px;
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: url("images/e4.jpg");
  background-position: 50% 50%;
  min-height: 619px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1247px;
  margin: 0 0 20px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 50px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  margin: 4px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 19px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 6px 82px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 599px;
  background-image: url("images/xx-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 512px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: 3px;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-image-1 {
    min-height: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 286px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 4px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-image-1 {
    background-position: 32.77% 50%;
    min-height: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 570px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 50px 60px 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-image-1 {
    order: 0;
    min-height: 528px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 351px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.4375rem;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    background-position: 36.67% 50%;
    min-height: 332px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-4 {
  min-height: 628px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.u-section-4 .u-image-1 {
  min-height: 538px;
  background-image: url("https://instanceit.com/assets/images/aboutus.png");
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 1px;
}

.u-section-4 .u-group-1 {
  width: 440px;
  min-height: 428px;
  background-image: none;
  margin: 10px auto 0 33px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 10px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 472px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin: 2px 0 2px auto;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 50%;
    min-height: 469px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: 11px;
    min-height: 436px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 10px;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 3rem;
    animation-duration: 1000ms;
    margin-top: 0;
    margin-right: 60px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 50px;
    margin-right: 42px;
  }

  .u-section-4 .u-btn-1 {
    text-transform: uppercase;
    margin-top: 21px;
    margin-left: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 393px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-image-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    min-height: 478px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 15px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 15px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 50px;
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 670px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-image-1 {
    min-height: 475px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -92px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    width: 227px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 31px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 544px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 83px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 178px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 292px;
  }

  .u-section-4 .u-group-1 {
    min-height: 361px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -151px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 132px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 74px;
    margin-bottom: -23px;
  }
}.u-section-5 {
  background-image: linear-gradient(#2cccc4, #f5d654);
}

.u-section-5 .u-sheet-1 {
  min-height: 588px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1070px;
  margin: 39px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 16.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 16.6667px));
  grid-auto-rows: 100%;
  min-height: 388px;
  grid-gap: 25px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 12px 19px 0 29px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  margin: 1px 11px 0 1px;
}

.u-section-5 .u-image-1 {
  height: 182px;
  width: 206px;
  margin: 26px auto 0;
}

.u-section-5 .u-text-3 {
  margin: -21px 0 0 10px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 64px 0 auto;
}

.u-section-5 .u-list-item-2 {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 12px 19px 0 29px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  margin: 1px 11px 0 1px;
}

.u-section-5 .u-image-2 {
  height: 182px;
  width: 206px;
  margin: 26px auto 0;
}

.u-section-5 .u-text-5 {
  margin: -21px 0 0 10px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 64px 0 auto;
}

.u-section-5 .u-list-item-3 {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 12px 19px 0 29px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  margin: 1px 11px 0 1px;
}

.u-section-5 .u-image-3 {
  height: 182px;
  width: 206px;
  margin: 26px auto 0;
}

.u-section-5 .u-text-7 {
  margin: -21px 0 0 10px;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 64px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 357px;
  }

  .u-section-5 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-image-1 {
    width: 201px;
    animation-duration: 1000ms;
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-5 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-image-2 {
    width: 201px;
    animation-duration: 1000ms;
    margin-top: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-5 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-image-3 {
    width: 201px;
    animation-duration: 1000ms;
    margin-top: 0;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 7px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 356px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 10px;
    margin-right: 3px;
    margin-left: -5px;
  }

  .u-section-5 .u-image-1 {
    height: 133px;
    width: 193px;
    margin-top: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 10px;
    margin-right: 3px;
    margin-left: -5px;
  }

  .u-section-5 .u-image-2 {
    height: 133px;
    width: 193px;
    margin-top: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 10px;
    margin-right: 3px;
    margin-left: -5px;
  }

  .u-section-5 .u-image-3 {
    height: 133px;
    width: 193px;
    margin-top: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1255px;
  }

  .u-section-5 .u-list-1 {
    width: 278px;
    margin: 25px auto 55px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.5px);
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(33.33% - 16.6667px);
    min-height: 1122px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 12px;
    margin-right: 163px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 12px;
    margin-right: 163px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 12px;
    margin-right: 163px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-5 .u-list-1 {
    width: 268px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    min-height: 924px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 1px;
  }

  .u-section-5 .u-image-1 {
    height: 113px;
    width: 151px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -7px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 1px;
  }

  .u-section-5 .u-image-2 {
    height: 113px;
    width: 151px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: -7px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 1px;
  }

  .u-section-5 .u-image-3 {
    height: 113px;
    width: 151px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: -7px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 624px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 484px;
  margin: 47px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 47px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 490px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-4 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 490px;
}

.u-section-6 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-6 .u-image-1 {
  background-image: url("https://img.freepik.com/free-vector/business-team-brainstorm-lightbulb-rocket-vision-statement-business-company-mission-business-planning-concept-white-background_335657-1752.jpg?size=626&ext=jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-6 .u-text-1 {
    animation-duration: 1000ms;
    margin-top: 22px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin: 23px -20px 0 auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 67px;
    margin-left: 67px;
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 532px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 133px;
    margin-left: 123px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 72px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 48px;
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 313px;
  }
}.u-section-7 {
  background-image: linear-gradient(#72efe9, #f5d654);
}

.u-section-7 .u-sheet-1 {
  min-height: 736px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 527px;
  margin: 35px 43px 0 auto;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-auto-rows: calc(50% - 15px);
  min-height: 658px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px 8px;
}

.u-section-7 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 8px;
}

.u-section-7 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px 8px;
}

.u-section-7 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-text-6 {
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-7 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px 8px;
}

.u-section-7 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-text-8 {
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-7 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-7 .u-group-1 {
  width: 481px;
  min-height: 396px;
  height: auto;
  margin: -577px auto 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-shape-1 {
  width: 215px;
  height: 51px;
  margin: 17px 121px 0 auto;
}

.u-section-7 .u-text-9 {
  line-height: 1.3;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 23px 0 0;
}

.u-section-7 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 43px auto 0;
}

.u-section-7 .u-text-10 {
  font-size: 3rem;
  margin: -431px 766px 60px 89px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 665px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
    padding: 10px 16px 11px 15px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 20px;
    padding: 10px 16px 11px 15px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 20px;
    padding: 10px 16px 11px 15px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 20px;
    padding: 10px 16px 11px 15px;
  }

  .u-section-7 .u-group-1 {
    width: 350px;
    min-height: 454px;
    height: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding: 28px 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-7 .u-text-9 {
    font-size: 2.125rem;
    margin-top: 30px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: -487px;
    margin-right: 623px;
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 279px;
    margin-right: 84px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 658px;
  }

  .u-section-7 .u-text-3 {
    margin-left: -130px;
    margin-right: -130px;
  }

  .u-section-7 .u-text-5 {
    margin-left: -130px;
    margin-right: -130px;
  }

  .u-section-7 .u-text-7 {
    margin-left: -130px;
    margin-right: -130px;
  }

  .u-section-7 .u-group-1 {
    width: 511px;
    min-height: 388px;
    margin-top: -800px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-1 {
    width: 178px;
    height: 19px;
    margin-top: -40px;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 31px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 691px;
    margin-right: 149px;
    margin-bottom: -476px;
  }

  .u-section-7 .u-text-10 {
    width: 285px;
    margin-top: -494px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-5 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-7 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-group-1 {
    min-height: 412px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -17px;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 681px;
    margin-right: auto;
    margin-bottom: -465px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1651px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(25% - 22.5px);
    min-height: 1282px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 16px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 16px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-1 {
    min-height: 416px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -677px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 1331px;
    margin-bottom: -449px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: -1165px;
    margin-left: 27px;
    margin-right: 27px;
  }
}