<div class="container">
  <div class="card  signup-card bg-white m-4 ">
   
    <h5 class="card-header sign-header text-center">
    Welcome to TechMan
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input 
            formControlName="firstName"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': submitted && h.firstName.errors}"
            />
            <div *ngIf="submitted && h.firstName.errors" class="text-warning">
              <div *ngIf="h.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
            formControlName="lastName" 
            type="text" 
            class="form-control" 
            [ngClass]="{'is-invalid': submitted && h.lastName.errors}"
            />
            <div  *ngIf="submitted && h.lastName.errors" class="text-warning">
              <div  *ngIf="h.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Email</label>
          <input 
          formControlName="email"
          type="text" 
          class="form-control"
          [ngClass]="{'is-invalid': submitted && h.email.errors}"
          />
          <div  *ngIf="h.email.touched && h.email.errors" class="text-warning">
            <div  *ngIf="h.email.errors.required">Email is required</div>
            <div *ngIf="h.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <ng-container *ngIf="h.email.touched && h.email.errors">
          <div *ngIf="h.email.errors.required" class="text-danger">
            Value is required.
          </div>
        </ng-container> 

        <div class="form-row col-6">
          <div class="form-group col">
            <label>Password</label>
            <input
            formControlName="password" 
            type="password" 
            class="form-control" 
            [ngClass]="{'is-invalid': submitted && h.password.errors}"
            />
            <div  *ngIf="h.password.touched && h.password.errors"  class="text-warning">
              <div *ngIf="h.password.errors.required">
                Password is required</div>
              <div *ngIf="h.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input 
            formControlName="confirmPassword" 
            type="password" 
            class="form-control" 
            [ngClass]="{'is-invalid': submitted && h.confirmPassword.errors}"
            />
            <div  *ngIf="h.confirmPassword.touched && h.confirmPassword.errors"  class="text-warning">
              <div *ngIf="h.confirmPassword.errors.required" >
                Confirm Password is required
              </div>
              <div *ngIf="h.confirmPassword.errors.matchnotfound">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input 
          formControlName="tandC" 
          type="checkbox" 
          id="acceptTerms" 
          class="form-check-input" 
          [ngClass]="{'is-invalid': submitted && h.tandC.errors}"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div 
          *ngIf="h.tandC.errors.required"  
          class="text-warning">
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-lg px-4 signup-btn">
            Sign Up
          </button>
          <button (click)="onResetForm()" class="btn btn-warning" type="reset">
            Reset
          </button>
          <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
    </div>
    <div class="col-6">
      <img src="./assets/signupdemoImage.jpeg" alt="Image Here ..">
    </div>
  </div>

