<div class="container-fluid">
   
       
        <h1 class="career-top-content">
            Take Your Student Career New To Levels
        </h1>
        <div class="inner-content-p">
        <p >
            Hands-on, Skill-based learning 
            <b class="inner-content">
                is heart of everything you do Here. Land top Career with
            </b>

        </p>

        <p >
            real work experience
            <b class="inner-content">
                in key skills by working on
            </b>
             internship-grade projects.
        </p>
    
    <div class="row">
        <div class="career-col">
            <img src="./assets/career/handsOn.jpg" alt="Image Here">

            <h5 class="career-h5" >
                True, Project-based Learning
            </h5>
            <p class="career-p">
                Master Full-Stack or Backend development through an immersive project-based curriculum focused on practical developer skills.
            </p>
        </div>
        <div class="career-col">
            <img src="./assets/career/ReaKnowledge.jpg" alt="Image Here">
            <h5 class="career-h5"> 
                Real Work
                Experience
            </h5>
            <p class="career-p" >
                Learn with real work experience by building internship-grade projects, with world-class mentorship, in an actual developer environment.
            </p>
        </div>
        <div class="career-col">
            <img src="./assets/career/Confidence.jpg" alt="Image Here">
            <h5 class="career-h5">
                Job-ready Portfolio on GitHub
            </h5>
            <p class="career-p">
                Go beyond just certificates with a Crio verified project portfolio on GitHub and impress any recruiter with your skills and experience.
            </p>
        </div>
        <div class="career-col">
            <img src="./assets/career/guidance.jpg" alt="Image Here">
            <h5 class="career-h5">
                Personalised Career Guidance 
            </h5>
            <p class="career-p">
                Land exciting developer jobs with structured planning and personalised guidance & support from Crio career coaches.
            </p>
        </div>
    </div>
    </div>
</div>