<section class="u-align-left u-clearfix u-section-6" id="carousel_f1b5">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
      <h1 class="u-align-center u-heading-font u-text u-title u-text-1" data-animation-name="jello"
        data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">OUR MISSION</h1>
      <div class="u-clearfix u-expanded-width-lg u-expanded-width-xl u-gutter-32 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                  <div
                    class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                    <h2 class="u-align-left-md u-align-left-sm u-custom-font u-font-montserrat u-text u-text-2">The best
                      start in life for every child</h2>
                    <h1
                      class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-ubuntu u-text u-text-3">
                      Learning</h1>
                    <p class="u-align-center-md u-align-center-sm u-text u-text-4">Ullamcorper malesuada proin libero
                      nunc. Id semper risus in hendrerit gravida. Vulputate <a
                        href="https://nicepage.com/k/awards-website-templates"
                        class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">sapien
                        nec</a> sagittis aliquam malesuada bibendum.&nbsp;
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div
                  class="u-align-right u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-60 u-layout-cell-2">
                  <div class="u-container-layout u-container-layout-2">
                    <div
                      class="u-absolute-hcenter-lg u-absolute-hcenter-md u-absolute-hcenter-sm u-absolute-hcenter-xs u-expanded u-image u-image-circle u-image-1"
                      data-image-width="626" data-image-height="417"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>