<section class="u-align-left u-clearfix u-section-6" id="carousel_f1b5">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
    <h1 class="u-align-center u-heading-font u-text u-title u-text-1" data-animation-name="jello"
      data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">OUR MISSION</h1>
    <div class="u-clearfix u-expanded-width-lg u-expanded-width-xl u-gutter-32 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div
                  class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <h2 class="u-align-left-md u-align-left-sm u-custom-font u-font-montserrat u-text u-text-2">The best
                    ideas can change who we're. </h2>
                  
                  <p class="u-align-center-md u-align-center-sm u-text u-text-4">
                    Techman is where those ideas take shape, take off, and spark powerful conversations. We’re an open
                    platform where readers come to find insightful and dynamic thinking. Here, expert and undiscovered
                    voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to
                    spread these ideas and deepen understanding of the world.
                    We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital
                    storytelling without giving in to the incentives of advertising. It’s an environment that’s open to
                    everyone but promotes substance and authenticity. And it’s where deeper connections forged between
                    readers and writers can lead to discovery and growth. Together with millions of collaborators, we’re
                    building a trusted and vibrant ecosystem fueled by important ideas and the people who think about
                    them.

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div
                class="u-align-right u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div
                    class="u-absolute-hcenter-lg u-absolute-hcenter-md u-absolute-hcenter-sm u-absolute-hcenter-xs u-expanded u-image u-image-circle u-image-1"
                    data-image-width="626" data-image-height="417"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>